:root {
  /** * THEME LIGHT */
  --main-bg-color-light: rgba(255, 255, 255);
  /* tabs colors */
  --tabs-header-bg-color: rgb(231, 234, 236);
  --tabs-bg-color: var(--tabs-header-bg-color);
  --tabs-selected-bg-color: var(--main-bg-color-light);
  --tabs-hover-bg-color: rgb(240, 243, 245);
  --tabs-text-color: rgb(88, 92, 95);
  --tabs-hover-text-color: rgb(88, 92, 95);
  --tabs-selected-text-color: rgb(47, 48, 49);
  --tabs-height: 2.2rem;
  /** * THEME DARK */
  --main-bg-color-dark: rgb(49, 53, 57);
  /* tabs colors */
  --dark-tabs-header-bg-color: rgb(31, 32, 35);
  --dark-tabs-bg-color: var(--main-bg-color-dark);
  --dark-tabs-selected-bg-color: var(--dark-tabs-header-bg-color);
  --dark-tabs-hover-bg-color: #25282b;
  --dark-tabs-text-color: rgb(134, 136, 138);
  --dark-tabs-hover-text-color: rgb(255, 255, 255);
  --dark-tabs-selected-text-color: rgb(221, 226, 231);
}
.sd-tabs {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  margin: 0;
  background: #f2f2f2;
  padding-top: 0.075rem;
  position: relative;
  height: 100%;
	justify-content: center;
}

.sd-tab-radio {
  position: absolute;
  opacity: 0;
}

.sd-tabs > .sd-tab-label {
  padding: 3px 5px 5px 10px;
  display: flex;
  align-items: center;
  min-width: 0;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 2;
  max-height: var(--tabs-height);
  cursor: pointer;
  flex: 1;
	top: 3px;
	text-align: center;
}
.sd-tabs > .sd-tab-label:hover {
	background: #fff;
	box-shadow: -8px 0px 0 -7px rgb(0 0 0 / 25%);
	color: var(--tabs-text-color);
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	border-left: 2px solid rgba(0, 0, 0, 0.25);
	border-right: 2px solid rgba(0, 0, 0, 0.25);
}
.sd-tabs > .sd-tab-radio:checked .sd-tab-label {
  z-index: 4;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  display: block;
  height: 80%;
  bottom: 0px;
  z-index: -1;
  opacity: 0;
}
.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:not(:hover) {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0.25);
  color: var(--tabs-text-color);
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	border-left: 2px solid rgba(0, 0, 0, 0.25);
	border-right: 2px solid rgba(0, 0, 0, 0.25);
}

.sd-tabs > .sd-tab-radio:checked .sd-tab-label + .sd-tab-label{
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
	border-radius: 0 0 15px 0;
	border-bottom: 3px solid #233658;
  opacity: 1;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
  box-shadow: 14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  border-radius: 0 0 0 15px;
	border-bottom: 3px solid #233658;
  opacity: 1;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  box-shadow: -14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label {
  background-color: var(--tabs-selected-bg-color);
  color: var(--tabs-selected-text-color);
	border-top: 2px solid #233658;
  border-left: 2px solid #233658;
  border-right: 2px solid #233658;
	border-radius: 14px 14px 0 0;
  z-index: 4;
}
:root .sd-tabs > .sd-tab-radio + .sd-tab-label:first-of-type {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}

.sd-tabs > .sd-tab-content {
  flex-basis: 100%;
  display: none;
  background-color: white;
  box-shadow: inset 0px 0px 0 1px var(--tabs-selected-bg-color);
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  overflow: auto;
	height: 600px;
	border-top: 3px solid #233658;
}
.sd-tabs > .break {
  background-color: aqua;
  flex-basis: 100%;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label + .sd-tab-content {
  display: block;
}
.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label .sd-tab-desc {
	color: #939598;
}
.sd-tabs > .sd-tab-label .sd-tab-desc {
  display: block;
  margin: 7px 5px 5px 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  flex: 1 1 0%;
	text-transform: uppercase;
	font-weight: 600;
}
.sd-tabs > .sd-tab-label .sd-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 15px;
  padding: 2px 3px;
}
.sd-tabs > .sd-tab-label .sd-tab-icon:not(.sd-tab-close) {
  width: 20px;
}
.sd-tabs > .sd-tab-label[icon-only] .sd-tab-icon:not(.sd-tab-close) {
  width: 24px;
  margin: 0 auto;
}
.sd-tabs > .sd-tab-label .sd-tab-close:hover {
  background-color: #4c4c4c33;
}
.sd-tabs > .sd-tab-label .sd-tab-close {
  margin-left: auto;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  visibility: hidden;
}
.sd-tab-label {
	max-width: 200px;
	width: 200px;
	border-radius: 10px 10px 0 0;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
	visibility: visible;
}
.sd-tab-content {
	order: 999;
}
footer.footer-configurator {
	bottom: -80%;
	position: absolute;
	width: 100vw;
}
.eye_on{
	fill:#233658;
}
.eye_off{
	fill:#939598;
}
svg#eye, #eye {
	position: absolute;
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label > #eye {
	opacity: 0.4;
}

svg#down {
	position: absolute;
	width: 40px;
	z-index: 110;
	height: 40px;
	transform: rotate(180deg);
	cursor: pointer;
	transition: all 1s ease-in-out;
}
#down:hover {
	transition: all 1s ease-in-out;
	transform: rotate(0deg);
}
.openIt > #down {
	transform: rotate(0deg);
}
.down{
	fill:#233658;
}
svg#export {
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}
svg#menu_option {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	z-index: 10;
	top: 50px;
	right: 15px;
}
.infos {
	display: none;
	width: 100vw;
}


@media (min-width : 320px) {
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -10%;
	}
	footer.footer-configurator {
    bottom: -30%;
	}
	svg#eye, #eye {
		right: 45px;
    top: -50px;
    width: 30%;
	}
	.sd-tabs > .sd-tab-label:first-of-type {
    margin-left: 0;
	}
	svg#down {
		display: none;
	}
	svg#export {
		top: -98%;
		right: 15px;
	}
	svg#menu_option {
		display: none;
	}
	.infos{
		display: block;
	}
	.direction {
		margin: 1rem 2rem;
	}
	.elementPicker {
		text-align: left;
	}
	.allScrew {
		width: 50px;
    margin: 0.5rem;
    height: 50px;
	}
	.buttonChoice {	
		margin: 0; 
	}
	.pattern::-webkit-scrollbar, .colorList::-webkit-scrollbar, .colorListType::-webkit-scrollbar {
		height: 3px;
	}
}
@media (min-width: 576px) { 
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -10%;
	}
	footer.footer-configurator {
    bottom: -50%;
	}
}

@media (min-width : 768px) {
	footer.footer-configurator {
    bottom: -50%;
	}
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 50%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -50%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -50%;
	}
	svg#eye, #eye {
		right: 2px;
		top: 2px;
		width: 12%;
	}
	.sd-tabs > .sd-tab-label:first-of-type {
    margin-left: 14px;
	}
	svg#down {
		display: block;
		top: 50px;
		left: 15px;
	}
	.openIt {
		bottom: -30% !important;
	}
	svg#export {
		top: -10px;
		right: 15px;
	}
	svg#menu_option {
		display: block;
	}
}
@media (min-width : 1024px) {
	footer.footer-configurator {
    bottom: -60%;
		transition: all 1s ease-in-out;
	}
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 150%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -150%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -150%;
	}
	.openIt {
		bottom: -40% !important;
		transition: all 1s ease-in-out;
	}
	.infos{
		display: none;
	}
	.openIt > div > div > .helmet {
		display: block !important;
	}
	.openIt > div > div > .chinguard {
		display: block !important;
	}
	.openIt > div > div > .visor {
		display: block !important;
	}
	.direction {
		margin: 1rem 5rem;
	}
	.elementPicker {
		text-align: center;
	}
	.allScrew {
		width: 80px;
    margin: 0.5rem;
    height: 80px;
	}
	.buttonChoice {	
		margin: 1rem; 
	}
	.pattern::-webkit-scrollbar, .colorList::-webkit-scrollbar, .colorListType::-webkit-scrollbar, .sizeChoice::-webkit-scrollbar, .certifChoice::-webkit-scrollbar {
		height: 5px;
	}
	.pattern {
		flex-wrap: wrap;
		justify-content: center;
	}
	.inputVisorChoice {
		justify-content: center;
	}
}
@media (min-width : 1224px) {
	footer.footer-configurator {
    bottom: -80%;
	}
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 250%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -250%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -250%;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* Config helmet */
.template {
	justify-content: center;
	display: flex;
	flex-direction: column;
/* 	width: 100%; */
	margin: 1rem;
}
.pickerScrew, .varnish, .metalParts {
	justify-content: center;
}
.aeration, .pickerScrew, .pattern, .shellColor, .varnish, .metalParts {
	width: 100%;
	display: flex;
	/* justify-content: center; */
	position: relative;
	top: 50px;
	height: 100%;
}
.pattern, .colorList {
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
}
.colorListType, .sizeChoice, .certifChoice {
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* .pattern::-webkit-scrollbar, .colorList::-webkit-scrollbar, .colorListType::-webkit-scrollbar {
	height: 3px;
} */

.pattern::-webkit-scrollbar-button:horizontal:increment {
/* 	background-image: url('../../images/fleche.svg');
	background-size: cover;
	background-repeat: no-repeat; */
}
.pattern::-webkit-scrollbar-button:horizontal:decrement {
/* 	background-image: url('../../images/fleche.svg');
	transform: rotate(-45deg);
	background-size: cover;
	background-repeat: no-repeat; */
}
.chooseStyleNumber {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.pattern::-webkit-scrollbar-thumb, .colorList::-webkit-scrollbar-thumb/* , .colorListType::-webkit-scrollbar-thumb */ {
	background-color: #233658;
	border-radius: 10px;
}
.aerationDisplay {
	text-transform: uppercase;
	color: #233658;
	width: 100%;
	display: flex;
	justify-content: center;
}

.buttonChoice:hover, .SizebuttonChoice:hover {
	background: #233658;
	color: #fff;
}

.buttonChoice, .buttonAdd, .SizebuttonChoice {	
	border: 1px solid #233658;
	border-radius: 25px 25px 25px 25px;
	padding: 10px 1rem;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}
.buttonChoice, .SizebuttonChoice {
  color: #233658;
}
.buttonAdd {
	background: #233658;
  color: #fff;
	margin: 1rem;
}
.numberChoice {
	display: flex;
	justify-content: center;
}
.activeButton {
  background: #233658;
  color: #fff;
}

.elementChoice {
	display: flex;
	justify-content: center;
	align-items: center;
}
.direction {
	width: 40px;
	height: 40px;
  cursor: pointer;
}
.elementPicker {
	width: 400px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--color-principal);
}
.number {
	margin-left: 2rem;
}

.allScrew {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	align-items: center;
}
.allScrew:hover > .textAction {
	visibility: visible;
	}
.allScrew:hover > .textAction::after {
	content: "";
	height: 4px;
	position: absolute;
	bottom: -10px;
	background: var(--color-principal);
	left: 0;
	animation: widthLine 200ms forwards ease-in-out;
}
.activeImage > .textAction {
	visibility: visible !important;
	}
.activeImage > .textAction::after {
	content: "";
	height: 4px;
	position: absolute;
	bottom: -10px;
	background: var(--color-principal);
	left: 0;
	width: 100%;
}
.allScrew > .textAction {
	text-align: center;
	visibility: hidden;
}

@keyframes widthLine {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
	
}
.carbon {
	background: linear-gradient(320deg, rgba(187,187,187,1) 0%, rgba(43,29,26,1) 5%,rgba(187,187,187,1) 10%, rgba(43,29,26,1) 15%,rgba(187,187,187,1) 20%, rgba(43,29,26,1) 25%,rgba(187,187,187,1) 30%, rgba(43,29,26,1) 35%,rgba(187,187,187,1) 40%, rgba(43,29,26,1) 45%,rgba(187,187,187,1) 50%, rgba(43,29,26,1) 55%,rgba(187,187,187,1) 60%, rgba(43,29,26,1) 65%,rgba(187,187,187,1) 70%, rgba(43,29,26,1) 75%,rgba(187,187,187,1) 80%, rgba(43,29,26,1) 85%,rgba(187,187,187,1) 90%, rgba(43,29,26,1) 95%,rgba(187,187,187,1) 100%);
}
.white {
	background: #fff;
	border: 1px solid rgb(229,229,229);
}
.black {
background: #000;
}
.coolGrey {
 background: #9ea1a2;
}
.EstateBlue {
 background: #1c355e;
}
.pirateGrey {
 background: #636569;
}
.duskBlue {
 background: #7ba0c4;
}
.doubleCream {
 background: #f6dfa4;
}
.rallyBlue {
 background: #0069a7;
}
.yellowIris {
 background: #f3efa1;
}
.icebergGreen {
 background: #9baeab;
}
.blazingYellow {
 background: #fde021;
}
.greenDouble {
 background: #9dd4ca;
}
.blazingOrange {
 background: #ffad5f;
}
.limeGreen {
 background: #61a60e;
}
.vermillion {
 background: #ff5c35;
}
.greenGables {
 background: #163029;
}
.orchidPink {
 background: #fdbbcb;
}
.camel {
 background: #ad7f66;
}
.plumPurple {
 background: #60269e;
}
.brownStone {
 background: #5e3c32;
}
.cayenneRed {
 background: #f5333f;
}
.iridescentBlue {
	background: linear-gradient(320deg, rgba(0,0,196,1) 0%, rgba(151,24,196,1) 35%, rgba(55,110,179,1) 65%, rgba(0,0,196,1) 100%);;
}
.chinesesRed {
 background: #c10230;
}
.iridescentPink {
	background: linear-gradient(320deg, rgba(61,180,177,1) 0%, rgba(211,153,255,1) 28%, rgba(253,175,255,1) 50%, rgba(211,153,255,1) 75%, rgba(61,180,177,1) 100%);
}
.fluoYellow {
 background: #ffe800;
}
.fluoPink {
 background: #ff40b4;
}
.copperFoil {
	background: linear-gradient(320deg, rgba(43, 29, 26, 1) 0%, rgba(255,141,0,1) 50%, rgba(184,115,51,1) 75%, rgba(68,55,12,1) 100%);
}
.goldFoil {
	background: linear-gradient(320deg, rgba(43, 29, 26, 1) 0%, rgba(255,252,0,1) 50%, rgba(212,175,55,1) 75%, rgba(68,55,12,1) 100%);
}
.silverFoil {
	background: linear-gradient(320deg, rgba(45,45,45,1) 0%, rgba(255,255,255,1) 50%, rgba(192,192,192,1) 75%, rgba(5,5,5,1) 100%);
}
.titan {
	background: #8d847e;
}
.colorP {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.roundColor {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin: 1rem;
}
.roundColor:hover + .textAction {
	visibility: visible;
	position: relative;
}
.roundColor:hover + .textAction::after {
	content: "";
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: -6px;
	background: var(--color-principal);
	left: 0;
	animation: widthLine 200ms forwards ease-in-out;
	}
.roundColor + .textAction {
	text-align: center;
	visibility: hidden;
	width: 100%;
}

.activeColor {
	position: relative;
}
.activeColor::after {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #233856;
	content: '';
	position: absolute;
	top: -6px;
	left: -6px;
}

.activeColor + .textAction {
	visibility: visible !important;
	}
.activeColor + .textAction::after {
	content: "";
	height: 4px;
	position: absolute;
	bottom: -10px;
	background: var(--color-principal);
	left: 0;
	width: 100%;
}

.numberWindows {
	display: none;
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100px;
	flex-direction: column;
	align-items: center;
}

.infosNumber {
	width: 400px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--color-principal);
	text-align: center;
	margin-top: 0.5rem;
}
.chooseWindows {
	display: flex;
	flex-direction: column;
}
.chooseWindows_input {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 1rem;
}
input#numberSelection {
	height: 40px;
	text-align: center;
}
.selectButtonNumber {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
}

.selectButtonNumber > svg {
	width: 40px;
	height: 40px;
}
.allScrew > svg {
	width: 50px;
	height: 50px;
}

.inputVisorChoice {
	width: 100vw;
	position: relative;
	display: flex;
	margin: 1rem 0;
	justify-content: center;
}

.inputVisor {
	position: absolute;
	opacity: 0;
}

.frame {
	display: none;
	justify-content: center;
}
.long_visor_page, .short_visor_page, .peak_visor_page {
	display: none;
	margin: 1rem 5px;
	justify-content: center;
	width: 100%;
}
.peak_visor_page {
	flex-direction: column;
}

.peak_visor_page > .colorListType {
	flex-wrap: wrap;
}

.menu_option {
	display: none;
}