:root {
  /** * THEME LIGHT */
  --main-bg-color-light: rgba(255, 255, 255);
  /* tabs colors */
  --tabs-header-bg-color: rgb(231, 234, 236);
  --tabs-bg-color: var(--tabs-header-bg-color);
  --tabs-selected-bg-color: var(--main-bg-color-light);
  --tabs-hover-bg-color: rgb(240, 243, 245);
  --tabs-text-color: rgb(88, 92, 95);
  --tabs-hover-text-color: rgb(88, 92, 95);
  --tabs-selected-text-color: rgb(47, 48, 49);
  --tabs-height: 2.2rem;
  /** * THEME DARK */
  --main-bg-color-dark: rgb(49, 53, 57);
  /* tabs colors */
  --dark-tabs-header-bg-color: rgb(31, 32, 35);
  --dark-tabs-bg-color: var(--main-bg-color-dark);
  --dark-tabs-selected-bg-color: var(--dark-tabs-header-bg-color);
  --dark-tabs-hover-bg-color: #25282b;
  --dark-tabs-text-color: rgb(134, 136, 138);
  --dark-tabs-hover-text-color: rgb(255, 255, 255);
  --dark-tabs-selected-text-color: rgb(221, 226, 231);
}
.sd-tabs {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  margin: 0;
  background: #f2f2f2;
  padding-top: 0.075rem;
  position: relative;
  height: 100%;
	justify-content: center;
}

.sd-tab-radio {
  position: absolute;
  opacity: 0;
}

.sd-tabs > .sd-tab-label {
  padding: 3px 5px 5px 10px;
  display: flex;
  align-items: center;
  min-width: 0;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 2;
  max-height: var(--tabs-height);
  cursor: pointer;
  flex: 1;
	top: 3px;
	text-align: center;
}
.sd-tabs > .sd-tab-label:hover {
	background: #fff;
	box-shadow: -8px 0px 0 -7px rgb(0 0 0 / 25%);
	color: var(--tabs-text-color);
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	border-left: 2px solid rgba(0, 0, 0, 0.25);
	border-right: 2px solid rgba(0, 0, 0, 0.25);
}
.sd-tabs > .sd-tab-radio:checked .sd-tab-label {
  z-index: 4;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  display: block;
  height: 80%;
  bottom: 0px;
  z-index: -1;
  opacity: 0;
}
.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:not(:hover) {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0.25);
  color: var(--tabs-text-color);
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	border-left: 2px solid rgba(0, 0, 0, 0.25);
	border-right: 2px solid rgba(0, 0, 0, 0.25);
}

.sd-tabs > .sd-tab-radio:checked .sd-tab-label + .sd-tab-label{
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
	border-radius: 0 0 15px 0;
	border-bottom: 3px solid #233658;
  opacity: 1;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
  box-shadow: 14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  border-radius: 0 0 0 15px;
	border-bottom: 3px solid #233658;
  opacity: 1;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  box-shadow: -14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label {
  background-color: var(--tabs-selected-bg-color);
  color: var(--tabs-selected-text-color);
	border-top: 2px solid #233658;
  border-left: 2px solid #233658;
  border-right: 2px solid #233658;
	border-radius: 14px 14px 0 0;
  z-index: 4;
}
:root .sd-tabs > .sd-tab-radio + .sd-tab-label:first-of-type {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}

.sd-tabs > .sd-tab-content {
  flex-basis: 100%;
  display: none;
  background-color: white;
  box-shadow: inset 0px 0px 0 1px var(--tabs-selected-bg-color);
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  overflow: auto;
	height: 500px;
	border-top: 3px solid #233658;
}
.sd-tabs > .break {
  background-color: aqua;
  flex-basis: 100%;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label + .sd-tab-content {
  display: block;
}
.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label .sd-tab-desc {
	color: #939598;
}
.sd-tabs > .sd-tab-label .sd-tab-desc {
  display: block;
  margin: 7px 5px 5px 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  flex: 1 1 0%;
	text-transform: uppercase;
	font-weight: 600;
}
.sd-tabs > .sd-tab-label .sd-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 15px;
  padding: 2px 3px;
}
.sd-tabs > .sd-tab-label .sd-tab-icon:not(.sd-tab-close) {
  width: 20px;
}
.sd-tabs > .sd-tab-label[icon-only] .sd-tab-icon:not(.sd-tab-close) {
  width: 24px;
  margin: 0 auto;
}
.sd-tabs > .sd-tab-label .sd-tab-close:hover {
  background-color: #4c4c4c33;
}
.sd-tabs > .sd-tab-label .sd-tab-close {
  margin-left: auto;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  visibility: hidden;
}
.sd-tab-label {
	max-width: 200px;
	width: 200px;
	border-radius: 10px 10px 0 0;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
	visibility: visible;
}
.sd-tab-content {
	order: 999;
}
footer.footer-configurator {
	bottom: -80%;
	position: absolute;
	width: 100vw;
}
.eye_on{
	fill:#233658;
}
.eye_off{
	fill:#939598;
}
svg#eye, #eye {
	position: absolute;
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label > #eye {
	opacity: 0.4;
}

svg#down {
	position: absolute;
	width: 40px;
	z-index: 110;
	height: 40px;
	transform: rotate(180deg);
	cursor: pointer;
	transition: all 1s ease-in-out;
}
#down:hover {
	transition: all 1s ease-in-out;
	transform: rotate(0deg);
}
.openIt > #down {
	transform: rotate(0deg);
}
.down{
	fill:#233658;
}
svg#export {
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}
svg#menu_option {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	z-index: 10;
	top: 50px;
	right: 15px;
}
.infos {
	display: none;
}

.elementChoice {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.direction {
	width: 40px;
	height: 40px;
	margin-top: 1rem;
}
@media (min-width : 320px) {
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -10%;
	}
	footer.footer-configurator {
    bottom: -30%;
	}
	svg#eye, #eye {
		right: 45px;
    top: -50px;
    width: 30%;
	}
	.sd-tabs > .sd-tab-label:first-of-type {
    margin-left: 0;
	}
	svg#down {
		display: none;
	}
	svg#export {
		top: -98%;
		right: 15px;
	}
	svg#menu_option {
		display: none;
	}
	.infos{
		display: block;
	}
}
@media (min-width: 576px) { 
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -10%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -10%;
	}
	footer.footer-configurator {
    bottom: -50%;
	}
}

@media (min-width : 768px) {
	footer.footer-configurator {
    bottom: -50%;
	}
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 50%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -50%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -50%;
	}
	svg#eye, #eye {
		right: 2px;
		top: 2px;
		width: 12%;
	}
	.sd-tabs > .sd-tab-label:first-of-type {
    margin-left: 14px;
	}
	svg#down {
		display: block;
		top: 50px;
		left: 15px;
	}
	.openIt {
		bottom: -30% !important;
	}
	svg#export {
		top: -10px;
		right: 15px;
	}
	svg#menu_option {
		display: block;
	}
}
@media (min-width : 1024px) {
	footer.footer-configurator {
    bottom: -70%;
		transition: all 1s ease-in-out;
	}
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 150%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -150%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -150%;
	}
	.openIt {
		bottom: -40% !important;
		transition: all 1s ease-in-out;
	}
	.infos{
		display: none;
	}
	.openIt > div > div > .helmet {
		display: block !important;
	}
	.openIt > div > div > .chinguard {
		display: block !important;
	}
	.openIt > div > div > .visor {
		display: block !important;
	}
}
@media (min-width : 1224px) {
	footer.footer-configurator {
    bottom: -70%;
	}
	.sd-tabs > .sd-tab-label::after,
	.sd-tabs > .sd-tab-label::before {
		width: 250%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
		left: -250%;
	}
	.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
		right: -250%;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* Config helmet */

.aeration {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: 50px;
}

.aerationDisplay {
	text-transform: uppercase;
	color: #233658;
	padding-top: -1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}
.aerationWithout {
	margin-right: 10rem;
}
.aerationWithout:hover {
	background: #233658;
	color: #fff;
}
.aerationWith:hover {
		background: #233658;
		color: #fff;
}

.aerationWithout, .aerationWith {	
	border: 1px solid #233658;
	border-radius: 25px 25px 25px 25px;
	padding: 10px 1rem;
	width: 75px;
	text-align: center;
	cursor: pointer;

}