.footer-block--newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3rem;
	background: white;
	height: 5vh;
	width: 100vw;
	position: absolute;
}

.footer__real > #main-logo {
	height: auto;
	max-width: 150px;
  width: 100%;
	margin: 30px;
}

.lvfooter{
	fill: var(--footer-bg-color);
}

.homepage-footer {
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 flex-direction: column;
	 justify-content: center;
	 background: var(--color-principal);
	 padding-bottom: calc(100vh - 2.625rem);
	 border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
	 width: 100vw;
	 position: relative;
	 z-index: 38;
	 top: 0;
	 height: 100vh;
 }

 .footer__real {
  width: 100vw;
  position: fixed;
  top: 10px;
  /* height: 100vh; */
  opacity: 0;
  z-index: -1;
	animation: animateFooter 600ms ease-in-out;
	text-align: center;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav.footer-container {
	height: 80%;
}
@keyframes animateFooter {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

nav.footer-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	
}

ul#menu-footer-menu {
	width: 100vw;
	height: 50vh;
	display: grid;
}


ul#menu-footer-menu > li > a {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .1rem;
	/* font-size: 0.9rem; */
}
/* .menu-depth-footer1 > li {
	margin-top: 1rem;
} */
ul.sub-menu.menu-depth-footer1 {
	display: flex;
	flex-direction: column;
	text-align: left;
	/* margin-top: 1rem; */
}

ul.sub-menu.menu-depth-footer1 {
/* 	grid-template-columns: repeat( 4, 1fr); */
	/* grid-auto-rows: minmax(50px, 50px); */
	/* display: grid; */
}
.menu-depth-footer1 > li > a {
	color: #fff;
	opacity: 0.6;
	text-transform: uppercase;
	/* font-size: 0.9rem; */
}

 #menu-footer-menu > li:nth-child(1){
	/* grid-row: 1; */
	text-align: left;
/* 	grid-column: 2; */
}

#menu-footer-menu > li:nth-child(2){
/* 	grid-row: 1; */
	text-align: left;
/* 	grid-column: 3; */
}

#menu-footer-menu > li:nth-child(3){
/* 	grid-row: 1;
	grid-column: 4; */
	text-align: left;
}

#menu-footer-menu > li:nth-child(4){
/* 	grid-row: 2;
	grid-column: 4; */
	text-align: left;
}

#menu-footer-menu > li:nth-child(5){
	/* grid-row: 1; */
	text-align: left;
	/* grid-column: 5; */
}

ul#menu-footer-menu::after {
	content: '';
	border-bottom: 1px solid grey;
	position: absolute;
	/* bottom: 30%; */
	width: 60%;
	/* left: 10%; */
	height: 5px;
	/* margin: 0 auto; */
}

@media (min-width : 320px) {
	nav.footer-container {
		align-items: flex-start;
    flex-direction: row;
	}
	ul#menu-footer-menu{
		grid-template-columns: repeat( 1, 1fr);
		margin: 1rem 2rem;
    grid-auto-rows: min-content;
	}
	#menu-footer-menu > li:nth-child(1){
		grid-row: 1;
		grid-column: 1;
		margin-bottom: 0.8rem;
	}
	
	#menu-footer-menu > li:nth-child(2){
		grid-row: 2;
		grid-column: 1;
		margin-bottom: 0.8rem;
	}
	
	#menu-footer-menu > li:nth-child(3){
		grid-row: 3;
		grid-column: 1;
		margin-bottom: 0.8rem;
	}
	
	#menu-footer-menu > li:nth-child(4){
		grid-row: 4;
		grid-column: 1;
		margin-bottom: 0.8rem;
	}
	
	#menu-footer-menu > li:nth-child(5){
		grid-row: 5;
		grid-column: 1;
		margin-bottom: 0.8rem;
	}
	ul#menu-footer-menu > li > a {
		font-size: 0.8rem;
	}
	.menu-depth-footer1 > li > a {
		font-size: 0.7rem;
	}
	.menu-depth-footer1 > li {
    margin-top: 0.3rem;
	}
	ul#menu-footer-menu::after {
		left: 20%;
		bottom: 25%;
	}
	ul.sub-menu.menu-depth-footer1 {
		margin-top: 0.5rem;
	}
	.footer-block--newsletter {
		bottom: 20%;
	}
}
@media (min-width: 576px) {}
@media (min-width : 768px) {}
@media (min-width : 1024px) {
	nav.footer-container {
		align-items: center;
	}
	ul#menu-footer-menu {
		grid-template-columns: repeat( 6, 1fr);
		grid-auto-rows: minmax(200px, 50px);
		justify-items: center;
	}
	#menu-footer-menu > li:nth-child(1){
		grid-row: 1;
		text-align: left;
		grid-column: 2;
		margin-bottom: 0;
	}
	
	#menu-footer-menu > li:nth-child(2){
		grid-row: 1;
		text-align: left;
		grid-column: 3;
		margin-bottom: 0;
	}
	
	#menu-footer-menu > li:nth-child(3){
		grid-row: 1;
		grid-column: 4;
		text-align: left;
		margin-bottom: 0;
	}
	
	#menu-footer-menu > li:nth-child(4){
		grid-row: 2;
		grid-column: 4;
		text-align: left;
		margin-bottom: 0;
	}
	
	#menu-footer-menu > li:nth-child(5){
		grid-row: 1;
		text-align: left;
		grid-column: 5;
		margin-bottom: 0;
	}
	ul#menu-footer-menu > li > a {
		font-size: 0.9rem;
	}
	.menu-depth-footer1 > li > a {
		font-size: 0.9rem;
	}
	.menu-depth-footer1 > li {
    margin-top: 1rem;
	}
	ul#menu-footer-menu::after {
		left: none;
		bottom: 30%;
	}
	ul.sub-menu.menu-depth-footer1 {
		margin-top: 0;
	}
	.footer-block--newsletter {
		bottom: 22%;
	}
}
@media (min-width : 1224px) {}
	@media (min-width : 1824px) {}