.main-header {
	display: flex;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 20px;
	flex-direction: column;
	width: 100vw;
	height: 20%;
	border-top: 10px solid var(--color-principal);
	/* border-bottom: 1.2px solid var(--color-border-bottom-header); */

}


.main-header__heading-logo {
	height: auto;
	max-width: 150px;
  width: 100%;
}

.main-header__menu-mobile-logo {
	display: none;
}

