.main-header {
	display: flex;
	align-items: center;
/* 	padding-top: 1rem;
	padding-bottom: 0px; */
	flex-direction: column;
	width: 100vw;
	border-top: 10px solid var(--color-principal);
/* 	position: fixed; */
	height: 10vh;
	top: 0;
	z-index: 40;
	background-color: var(--header-background);
	transition: opacity 600ms ease-in-out;
}


.main-header__heading-logo {
	height: auto;
	max-width: 150px;
  width: 100%;
	margin: 30px;
}

.main-header__menu-mobile-logo {
	display: none;
	z-index: 41;
}
@media (min-width : 320px) {
	.main-header {
		position: sticky;
	}
}
@media (min-width : 1024px) {
	.main-header > .first_menu-configurator {
		display: none !important;
	}
	.custom_menu_class > #menu-main-menu {
		display: flex !important;
		/* width: 70% !important; */
		max-width: 800px;
		margin: 0 auto !important;
		justify-content: space-evenly !important;
		align-items: flex-end !important;
		position: relative !important;
    padding: 0rem !important;
		flex-direction: row !important;
		height: 100% !important;
	}
	.main-header {
		position: fixed;
	}
}