@media (min-width : 320px) {
	.custom_menu_class > #menu-main-menu + #closeLogo {
		display: none;
		z-index: 40;
	}
	.custom_menu_class > #menu-main-menu {
		background: var(--background-menu);
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		top: 0;
		padding: 0rem 2rem;
}
	.main-header > #closeLogo {
		display: none;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		right: 0;
	}
	.main-header > .first_menu-configurator {
		display: none;
		position: absolute;
    background:var(--background-menu);
    z-index: 99;
    top: 0;
    height: 100vh;
    border-right: 2px solid var(--menu-border-color);
    flex-direction: column;
    width: 100vw;
    transition: left 600ms ease-in-out;
	}
	.main-header > .first_menu-configurator > .first_menu-configurator-nav-title {
		display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
	}
	.main-header > .first_menu-configurator > .first_menu-configurator-nav-title > .configurator-header__heading-menu {
		width: 30%;
	}
	.main-header > .first_menu-configurator > .first_menu-configurator-nav-title > #closeLogo {
		width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 50px;
	}
	.main-header > .first_menu-configurator > .first_menu-configurator-nav {
		width: 100%;
    height: 100vh;
	}
	.main-header > .first_menu-configurator > .first_menu-configurator-nav > #menu-main-menu-1 {
		align-content: space-evenly;
    justify-items: flex-start;
    display: grid;
    height: 100%;
    width: 90%;
    margin: 0 auto;
	}
	.main-header > .first_menu-configurator > .first_menu-configurator-nav > #menu-main-menu-1 > li {
		margin-bottom: 3rem;
	}
	#menu-main-menu-1 > .menu-item > a {
		cursor: pointer;
    color: var(--color-principal);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
	}
	.first_menu-configurator-nav > #menu-main-menu-1 > .mark1 > .menu-depth-1, .first_menu-configurator-nav > #menu-main-menu-1 > .mark2 > .menu-depth-1 {
		display: none;
		background: var(--background-menu);
    width: 100vw;
    z-index: 10;
    left: -200%;
    padding: 1rem 2rem;
    top: -10px;
    animation: menuMobileSubAppear 1s forwards ease-in-out;
		height: 100vh;
    flex-direction: column;
		position: fixed;
		margin: 0;
	}
	@keyframes menuMobileSubAppear {
		0% {
			left: -200%;
		}
		100% {
			left: 0;
		}
	}
	.first_menu-configurator-nav > #menu-main-menu-1 > .mark1 > .menu-depth-1 > .helmetImage, .first_menu-configurator-nav > #menu-main-menu-1 > .mark2 > .menu-depth-1 > .helmetImage {
		display: none;
	}
	.first_menu-configurator-nav > #menu-main-menu-1 > .mark1 > .menu-depth-1 > .closeMenu, .first_menu-configurator-nav > #menu-main-menu-1 > .mark2 > .menu-depth-1 > .closeMenu {
    width: 10%;
    right: 150px;
	}
}


@media screen and (max-width: 767px) {
	.main-header__menu-mobile-logo {
		display: block;
		position: absolute;
		left: 10px;
		width: 8%;
	}
}

@media screen and (max-width: 992px) {
	.main-header__menu-mobile-logo {
		display: block;
		position: absolute;
		left: 10px;
		width: 8%;
		margin: 30px;
	}
}