.main-header {
	display: flex;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	flex-direction: column;
	width: 100vw;
	height: 20%;
}


.main-header__heading-logo {
	height: auto;
	max-width: 150px;
  width: 100%;
}