
nav > ul > li > ul {
	display: none;
	position: fixed;
/* 	top: 25vh; */
	width: 100%;
	height: 50vh;
	left: 0;
	background: #fff;
/* 	background: red; */
	justify-content: space-evenly;
	animation: openMenuStyle 300ms ease-in-out;
}
@keyframes openMenuStyle {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}

}
.custom_menu_class {
	width: 100%;
	height: 10vh;
	border-bottom: 1.2px solid var(--color-border-bottom-header);
	padding-bottom: 20px;
	z-index: 5;
}

#menu-main-menu {
	display: flex;
	height: 100%;
	width: 70%;
	justify-content: space-evenly;
	align-items: flex-end;
	margin: 0 auto;
}
.menu-item {
	position: relative;
}

#menu-main-menu > .menu-item > a {
	cursor: pointer;
	color: var(--color-principal);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
}

#menu-main-menu > .menu-item > a:hover::after {
	content:'';
	width: 100%;
  height: 10px;
  position: absolute;
  background: var(--color-principal);
  bottom: -20px;
	left: 0;
	animation: 500ms widthBorderAnimate;
	z-index: 5;
}
.active:hover::after {
	content:'';
	animation: none !important;
}
.active::after {
	content:'';
	width: 100%;
  height: 10px;
  position: absolute;
  background: var(--color-principal);
  bottom: -20px;
	right: 0;
	z-index: 6;
}
@keyframes widthBorderAnimate {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}

}

.mark1 .menu-depth-1, .mark2 .menu-depth-1 {
	margin-top: 2rem;
	padding-top: 3rem;
}
.helmetImage {
	width: 200px;
	height: 200px;
	grid-row: 1;
	grid-column: 1 / 6;
}

.SubmenuTitle {
	position: absolute;
	top: 5px;
	color: var(--color-principal);
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
.menu-depth-1 {
	grid-template-columns: repeat( 6, 1fr);
	grid-auto-rows: minmax(50px, 50px);
	border-bottom: 1.2px solid var(--color-border-bottom-header);
}
.menu-depth-1 > li a {
	color: var(--color-principal);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9rem;
}

.menu-depth-1 > li ul > li {
	margin-top: 0.5rem;
}

.menu-depth-1 > li ul > li a{
	color: var(--color-subMenu);
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 400;
}
.menu-depth-1 > li:nth-child(4){
	grid-row: 1;
	grid-column: 2 / 6;
}
.menu-depth-1 > li:nth-child(5){
	grid-row: 1;
	grid-column: 3 / 6;
}
.menu-depth-1 > li:nth-child(6){
	grid-row: 2;
	grid-column: 3 / 6;
}
.menu-depth-1 > li:nth-child(7){
	grid-row: 1;
	grid-column: 4 / 6;
}
.menu-depth-1 > li:nth-child(8){
	grid-row: 1;
	grid-column: 5 / 6;
}
.menu-depth-1 > li:nth-child(9){
	grid-row: 1;
	grid-column: 6 / 6;
}
.menu-depth-1 > li:nth-child(10){
	grid-row: 2;
	grid-column: 6 / 6;
}
.menu-depth-1 > li:nth-child(11){
	grid-row: 3;
	grid-column: 6 / 6;
}
ul > li > ul {
	width: 200px;
}

.personnalize {
	background-color: var(--color-principal);
	padding: 0.5rem;
	border-radius: 25px;
	width: 80%;
	background-image: url(../../images/spectre-color.svg);
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: 5px 3px;
	text-align: center;
}
.personnalize > a {
	color: #fff !important;
}
.closeMenu {
	position: absolute;
	top: 5px;
	width: 3%;
	right: 13px;
	cursor: pointer;
}
@media screen and (max-width: 767px) {
	#menu-main-menu {
		display: none;
	}
	.custom_menu_class {
		height: 2vh;
	}
	.SubmenuTitle {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	#menu-main-menu {
		display: none;
	}
}