
@import url('../styles/abstracts/_variables.css');
@import url('../styles/abstracts/_functions.css');
@import url('../styles/abstracts/_mixins.css');
@import url('../styles/abstracts/_placeholders.css');

@import url('../styles/base/_reset.css');
@import url('../styles/base/_typography.css');
@import url('../styles/layout/_navigation.css');
@import url('../styles/layout/_header.css');
@import url('../styles/layout/_footer.css');


@import url('../styles/components/_buttons.css');

@import url('../styles/pages/_home.css');
@import url('../styles/pages/_contact.css');

@import url('../styles/themes/_theme.css');

body {
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.customize-support {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

* {
	-webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
	-webkit-user-select:none; 
	user-select:none;                 /* prevent copy paste, to allow, change 'none' to 'text' */
}