.custom-singleProduct-page {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	/* justify-content: center; */
}

.slider {
	position: relative;
}

.slide {
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	transition: all 0.5s;
	display: flex;
	justify-content: center;
}

.slide img {
	opacity: 0;
	object-fit: contain;
}

.button-slider-container {
	display: flex;
	position: absolute;
	z-index: 39;
}

span.buttons {
	width: 8px;
	height: 8px;
	border: 1px solid var(--color-principal);
	border-radius: 50%;
	cursor: pointer;
}

.button-slider-active {
	background-color: var(--color-principal);
	width: 7px !important;
	height: 7px !important;
}

h1.product_title.entry-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--color-principal);
	margin-bottom: 1rem;
	border-bottom: 5px solid var(--color-principal);
	padding-bottom: 1rem;
}

.woocommerce-product-details__short-description {
	text-align: justify;
	color: var(--color-principal);
	padding-bottom: 1rem;
}

p.price {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--color-principal);
}

.woocommerce-price-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: 3px solid var(--background-page-config);
}

p.deliveryMessage {
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--comments-price-config-color);
	text-align: center;
}

p.deliveryMessage > span {
	font-style: italic;
}

.woocommerce-attribute-list {
	margin-top: 2rem;
}

.woocommerce-attribute-title {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	align-items: center;
}

.woocommerce-attribute-title > strong {
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--color-principal);
	font-weight: 500;
	width: 200px;
}

.woocommerce-attribute-choiceList{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
}

input[type=radio] {
	visibility: hidden;
}

.woocommerce-attribute-input {
	z-index: 39;
	width: 33%;
}
.Option > div > .woocommerce-attribute-input {
	width: 50%;
}
.woocommerce-attribute-input > label {
	cursor: pointer;
/* 	width: 100%; */
	position: relative;
}

.woocommerce-attribute-input > label:hover::after {
	content: '';
	height: 2px;
	position: absolute;
	bottom: -10px;
	background: var(--color-principal);
	left: 5%;
	animation: widthLine 200ms forwards ease-in-out;
}

input[type="radio"]:checked + label::after {
	content: '';
	height: 2px;
	position: absolute;
	bottom: -10px;
	background: var(--color-principal);
	left: 5%;
	width: 90%;
}

@keyframes widthLine {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}

form.cart {
	z-index: 39;
}

.buttonZone {
	z-index: 39;
	display: flex;
	justify-content: space-evenly;
}

.add_to_cart {
	z-index: 39;
	width: 200px;
	background: var(--color-principal);
	color: var(--color-second);
	border-radius: 25px;
	padding: 1em;
	text-transform: uppercase;
	border: 1px solid var(--color-principal);
	cursor: pointer;
	font-size: 0.8rem;
	letter-spacing: normal;
}

.buttonZone > .personnalize {
	background-color: var(--color-second) !important;
	color: var(--color-principal) !important;
	padding: 1em;
	text-transform: uppercase;
	border: 1px solid var(--color-principal);
	cursor: pointer;
	z-index: 39;
	font-size: 0.8rem;
	letter-spacing: normal;
}

.buttonZone > .personnalize > a {
	color: var(--color-principal) !important;
}
.symbol, .price {
	font-size: 1.2rem;
	color: var(--color-principal);
	font-weight: 600;
}
@media (min-width : 320px) {
	.singlePageSection {
		flex-direction: column;
	}
	.slider {
		width: 100vw;
    height: 100%;
	}
	.slide img {
		width: 60%;
    height: 100%;
    margin: 0;
	}
	.slide {
		width: 100%;
    height: 100%;
		justify-content: center;	
	}
	.button-slider-container {
    top: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
	}
	span.buttons {
		margin: 2rem;
	}
	.custom-singleProduct-page--right {
		width: 90vw;
    margin: 5rem 1rem;
	}
	.woocommerce-price-container {
		flex-direction: column;
	}
	p.deliveryMessage {
		margin-top: 1rem;
	}
	.buttonZone > .personnalize {
		background-position: 5px 8px !important;
	}
	.buttonZone > .personnalize > a {
		padding-left: 0.5rem;
	}
	p {
		font-size: 1rem;
	}
	.buttonZone > .personnalize {
		width: 200px !important;
		font-size: 0.8rem;
		border-radius: 25px;
		background-size: 15%;
	}
}

@media (min-width: 576px) {}
@media (min-width : 768px) {}
@media (min-width : 1024px) {
	.singlePageSection {
		flex-direction: row;
	/* 	max-width: 80vh; */
	}
	.slider {
		width: 50%;
		height: 100vh;
	}
	.slide img {
		width: 80%;
		height: 80%;
		margin: 0px 3rem;
	}
	.button-slider-container {
		top: 50%;
		transform: translate(-50%, -50%);
		left: 20px;
		flex-direction: column;
		width: 0;
	}
	span.buttons {
		margin-bottom: 2rem;
	}
	.custom-singleProduct-page--right {
		width: 50%;
		margin: 4rem;
		padding: 0;
	}
	.woocommerce-price-container {
		flex-direction: row;
	}
	p.deliveryMessage {
		margin-top:0;
	}
	.buttonZone > .personnalize {
		background-position: 5px 5px !important;
	}
	.buttonZone > .personnalize > a {
		padding-left: 0.5rem;
	}
}
@media (min-width : 1224px) {
	.buttonZone > .personnalize {
		background-position: 5px 10px !important;
	}
}
@media (min-width : 1824px) {
	.custom-singleProduct-page--right {
		height: 100%;
		display: flex;
    flex-direction: column;
		margin: 6rem 4rem;
	}
	p.price {
		font-weight: 700;
		color: var(--color-principal);
	}
	.woocommerce-attribute-list {
    margin-top: 5rem;
	}
	.woocommerce-attribute-title > strong {
    width: 500px;
	}
	.add_to_cart {
		width: 200px;
		border-radius: 35px
	}
	.buttonZone > .personnalize {
		width: 200px !important;
		background-position: 5px 10px !important;
		border-radius: 35px;
		background-size: 13%;
	}
	.section {
    width: 100%;
	}
}

